# ignore cloned subrepos
flow/
sumo/
data/

# ignore virtual environments and build artifacts
flow_env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
*.log
.DS_Store
*.venv/
results/
emission_output/
tests/